body{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;     
    justify-content: center;
    padding-top: 120px;
    
} 

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    max-height: 600px;
    border-top: 15px;
    border: 5px solid grey;

}


.calculator button:active {
  background-color: #007095;
  box-shadow: 0 5px rgb(25, 25, 25);
  transform: translateY(5px);
}
.op{
    background-color: rgb(51, 50, 24);
}

.displayBoard{
    align-self: flex-end;
  
    flex-direction: column;
    max-width: 290px;
    height: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;
    justify-content: space-around;
    font-size: 32px;
    font-weight: lighter;
    margin-right: 15px;

}
.result{
    font-size: 20px;
    align-self: flex-start;
    color: rgba(177, 181, 181, 0.727);
}

.display{
    align-self: flex-end;
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 225px;
    overflow-wrap: break-word;
}


.line{
    display: flex;
    gap: 15px;
}

button{
    width: 55px;
    height: 55px;
    border: transparent;  
    background-color: rgb(35, 22, 35);  
    font-size: 30px;
    font-weight: lighter;
    border-radius: 12px;
    color: white;
    padding: 10px;
}

.eq{
    background-color: yellowgreen;
}

.clear{
    width: 50%;
    background-color: rgb(232, 80, 37);
    text-align: center;
    align-self: center;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 30px;
}